* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
    font-family: 'Roboto', cursive;
}

header{
	padding-top: 2%;
	padding-right: 7%;
	padding-bottom: 2%;
	padding-left: 7%;
	display: flex;
	justify-content: space-between;
}

.Index{
    margin-top: 50px;
}

.Index h2 {
    font-size: 20px;
    text-align: left;
    width: 90%; /* Limita el ancho del texto */
    margin: 0 auto;
}

nav ul{
	margin-top: 3%;
}

nav ul li{
	display: inline-block;
}

nav ul li a{
	font-size: 1.2rem;
	padding-right: 2rem;
	text-transform: uppercase;
}

nav ul li a:hover{
	text-decoration: underline;
	font-weight: 800;
	color: red !important; /* Cambia el color del texto a rojo cuando el cursor pasa sobre el enlace */
}

a{
	text-decoration: none;
	color: #000000;
}

.icon { display: none; }

section{
	max-width: 1300px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.Galeria {
    margin-top: -50px;
 }

.Especial {
    margin-top: -80px;
}

.Resenia {
    margin-top: -65px;
}

.Equipo {
    margin-top: 10px;
}

.Equipo_2 {
    font-size: 20px;
    text-align: left;
}

.Formulario {
    margin-top: -65px;
}

.principal{
	width: 100%;
	height: 650px;
	/* background-image: url(../images/Marginal_Fondo.jpg); Finalmente, dejamos el fondo color negro */
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #ffffff;
	opacity: 0.9;
}

.principal div img{
	width: 90%;
}

.formulario-image {
    float: right;
    border: 2px solid yellow;
    width: 590px;
    height: 490px;
    margin-top: -470px;
    margin-right: -140px;
}

.container {
    margin-left: -150px;
    color: orange;
}

.personajes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.secundario{
	margin-top: 5%;
	display: flex;
}

.secundario div{
	width: 33%;
	padding: 2%;
	text-align: center;
}

.secundario div a img{
	width: 100%;
	margin-bottom: 2rem;
}

.terciario{
	margin-top: 5%;
	display: flex;
}

.terciario div{
	width: 33%;
	padding: 2%;
	text-align: center;
}

.terciario div a img{
	width: 100%;
	margin-bottom: 2rem;
}

.terciario_2{
	margin-top: 5%;
	display: flex;
}

.terciario_2 div{
	width: 33%;
	padding: 2%;
	text-align: center;
}

.terciario_2 div a img{
	width: 100%;
	margin-bottom: 2rem;
}

h4{
	font-size: 1.5rem;
	text-transform: uppercase;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  margin-top: 0px;
}

footer p {
  color: red;
  text-align: center;
}

footer img{
	max-width: 2.5rem;
	width: 100%;
	height: auto;
	margin-right: .5%;
}

footer img:hover {
    transform: scale(2.1);
}

/* Estilo para la imagen cuando el cursor pasa sobre ella */
a img:hover {
    animation: shake 0.5s infinite; /* Aplica la animación "shake" de forma infinita */
}

/* Definición de la animación "shake" */
@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }   /* Mueve la imagen a la izquierda */
    50% { transform: translateX(5px); }    /* Mueve la imagen a la derecha */
    75% { transform: translateX(-5px); }   /* Mueve la imagen a la izquierda */
    100% { transform: translateX(5px); }   /* Mueve la imagen a la derecha */
}

a:hover {
    cursor: pointer;
}

@media (max-width: 480px) { /* Empieza Responsive */
        
        header {
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
            background-color: black;
            position: sticky;
            top: 0;
            z-index: 1;
        }

        header div, header a {
            flex: 1 0 50%;
        }

        header nav {
            flex-basis: 100%;
        }

        .Index{
            margin-top: -120px;
        }

        .Index h2 {
            font-size: 15px; /* Tamaño del texto */
            text-align: justify;
        }

        .Equipo {
            margin-top: -250px;
        }

        .Equipo_2 {
            font-size: 15px;
            text-align: justify;
        }

        /*   .Musicos p {
                  font-size: 15px;
                  text-align: justify;   
        }                           */

        .Galeria {
            margin-top: -350px;
        }

        .Especial {
            margin-top: -400px;
        }

        .Especial_2 {
            margin-top: -400px;
        }

        .Especial_2 h2 {
            font-size: 24px;
        }

        .Especial_2 p {
            font-size: 16px;
            margin: 11px;
            text-align: justify;
        }

        .Especial_2 a {
            color: orange;
        }

        .Resenia {
            margin-top: -450px;
        }

        .Resenia_2 {
            margin-top: -400px;
        }

        .Footer {
            margin-top: -100px;
        }

        .Musicos {
            margin-top: -320px;
        }

        .Creadores {                
            margin-top: -320px;
        }

        #creadores {
            text-align: center;
        }

        #creadores img {           /* Foto de los Creadores */
            max-width: 200px;
        }

        .Formulario {
            margin-top: -400px;
        }

        .container {
            margin-top: -150px;
            color: orange;
            margin-left: auto;  /* Para centrar horizontalmente */
            margin-right: auto; /* Para centrar horizontalmente */
            
        }

        .formulario-image {
        width: 100%;
        height: auto;
        margin-top: -800px;
        float: none;
        margin-left: auto;  /* Para centrar horizontalmente */
        margin-right: auto; /* Para centrar horizontalmente */
        }

        .custom-textarea {
        width: 100%;
        max-width: 100%;
        }

        .icon {
            display: block;
            padding-right: 0.6rem;
            text-align: right;
        }

        .icon i.fa-bars {
            color: white;
        }

        nav ul {
            display: none;
        }

        nav.responsive ul {
            display: block;
        }

        nav.responsive ul li {
            display: block;
            text-align: center;
            padding: 0.5rem;
        }

        nav.responsive ul li a {
            padding-right: 0;
        }

        section {
            max-width: 480px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
        }

        /* Estilos de sección principal */

        .principal {
            height: 1140px;
            padding: 10%;
            text-align: center;
            color: white;
        }

        .principal img {
            max-width: 100%;
            display: block;
            margin: 0 auto;
        }

        /* Estilos para artículos secundarios */
        .secundario {
            display: flex;
            flex-direction: column;
            justify-content: center;  /* Centra verticalmente los elementos */
            align-items: center;      /* Centra horizontalmente los elementos */
            padding: 20px;
            color: white;
            margin-bottom: 145px;
        }

        .secundario img {
            max-height: 10%;
        }

        .terciario {                  /* Fotos de la Galeria */
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            color: white;
            margin: center;
            margin-top: -400px;
        }

        .terciario_2 {                /* Fotos de Personajes */
            display: flex;
            flex-direction: row;      /* Cambia a filas y columnas */
            flex-wrap: wrap;          /* Permite que las imágenes se envuelvan a la siguiente fila */
            justify-content: center;
            align-items: center;
            padding: 20px;            /* Ajusta el espaciado interno entre las imágenes */
            color: white;
        }

        .terciario_2 img {
            width: 150px;
            margin: 10px;             /* Añade espacio entre las imágenes */
        }

        footer {
                height: 80px;
                justify-content: space-evenly;
        }

        footer img {
                max-width: 3rem;
        }

        .contact-form {
            width: 100%;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }
} /* Termina Responsive */

body, p, h1, h2, h3, h4, h5, h6 {
        color: white;
	    background-color: rgba(0, 0, 0, 0.6);
	    padding: 10px;
}

.dropdown {
        position: relative;
        display: inline-block;
}

.dropdown-content {
        display: none;
        position: absolute;
        background-color: white; /* Fondo rojo para las opciones desplegables */
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
}

.dropdown-content a {
        color: yellow;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
}

.dropdown:hover .dropdown-content {
        display: block;
}

.form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
}

.form-group {
        margin-bottom: 10px;
}